[submodule "external/mesytec-mvlc"]
	path = external/mesytec-mvlc
	url = https://github.com/flueke/mesytec-mvlc.git
[submodule "external/qgv"]
	path = external/qgv
	url = https://github.com/flueke/qgv.git
