name: C/C++ CI

on: [push]

jobs:
  build-debian-bullseye:

    runs-on: ubuntu-latest

    container:
      image: debian:bullseye

    steps:
    - uses: actions/checkout@v1
    - name: prepare
      run: apt-get update &&
           apt-get install -y
             git make gcc g++
    - name: submodules
      run: git config --global --add safe.directory '*' &&
           git submodule update --init
    - name: apt-get
      run: apt-get update &&
           apt-get install -y
                    bash build-essential git cmake ninja-build ca-certificates
                    qtbase5-dev qtbase5-dev-tools libqt5websockets5-dev libqt5opengl5-dev libqt5svg5-dev
                    libqt5serialport5-dev libqwt-qt5-dev libquazip5-dev libusb-dev zlib1g-dev libgraphviz-dev
                    libboost-dev sphinx-common sphinx-rtd-theme-common python3-sphinx python3-sphinxcontrib.qthelp
                    texlive-latex-base texlive-latex-extra texlive-latex-recommended latexmk texlive-fonts-recommended
                    libzmq3-dev
    - name: configure
      run: mkdir build && cd build && cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=../install ..
    - name: build
      run: cmake --build build -j 4
    - name: test
      run: cd build && ctest
    - name: install
      run: cd build && make install
    - name: packaging
      run: tar -czf mvme.tgz install
    - name: uploading
      uses: actions/upload-artifact@v4
      with:
        name: test
        path: ./mvme.tgz
